[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BTdecayLasso"]
	path = BTdecayLasso
	url = https://github.com/cran/BTdecayLasso
